<%- include("../shared/head", {title: "Skibka - manufaktura chleba"}) %>
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/orders.css">
<link rel="stylesheet" href="/styles/hamburger.css">
<script src="/scripts/hamburger.js" defer></script>
<script src="/scripts/show-forms.js" defer></script>
<script src="/scripts/validate-input.js" defer></script>
</head>
<%- include("../shared/header") %>
<body>
    <img class="background-img" src="/images/background-baking.jpg" alt="Background image">
    <section>
        <p>
            <ul id="log-or-register">
                <% if(locals.isAuth) { %>
                    <li>
                        <form action="/wyloguj" method="POST">
                            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                            <button id="logout">Wyloguj</button>
                        </form>
                    </li>
                <% } %>
                <% if(!locals.isAuth)  { %>
                <li>
                    <a href="#login-section" id="show-login"><p>Zaloguj się</p></a>
                </li>
                <li>
                    <a href="#register-section" id="show-register"><p>Zarejestruj się</p></a>
                </li>
                <% } %>
            </ul>
        </p>
    </section>

    <section id="login-section" class="is-invisible ,is-visible">
        <form action="/logowanie" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <ul> 
                <li class="list-element">
                    <label for="user-email">E-mail</label>
                    <input type="email" name="user-email" id="user-email">
                </li>
                <li class="list-element">
                    <label for="user-password">Hasło</label>
                    <input type="password" name="user-password" id="user-password">
                </li>
            </ul>
            <p id="warning-login"></p>
            <div class="buttons"> 
                <button type="reset">Reset</button>
                <button id="login-btn">Logowanie</button>
            </div>
        </form>
    </section>

    <section id="register-section" class="is-invisible ,is-visible">
        <form action="/rejestracja" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <ul>
                <li class="list-element">
                    <label for="user-name">Imię</label>
                    <input type="text" name="user-name" id="user-name">
                </li>
                <li class="list-element">
                    <label for="user-lastname">Nazwisko</label>
                    <input type="text" name="user-lastname" id="user-lastname">
                </li>
                <li class="list-element">
                    <label for="user-email">E-mail</label>
                    <input type="email" name="user-email" id="user-email">
                </li>
                <li class="list-element">
                    <label for="user-password">Hasło</label>
                    <input type="password" name="user-password" id="user-password" minlength="5">
                </li>
                <li class="list-element">
                    <label for="user-confirmpassword">Potwierdź hasło</label>
                    <input type="password" name="user-confirmpassword" id="user-confirmpassword" minlength="5">
                </li>
            </ul>
            <p id="warning-signup"></p>
            <div class="buttons">
                <button type="reset">Reset</button>
                <button id="signup-btn">Rejestracja</button>
            </div>
        </form>
    </section>
</body>
<%- include("../shared/footer") %>