<%- include("../shared/head", {title: "Nasze produkty"}) %>
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/hamburger.css">
<link rel="stylesheet" href="/styles/portfolio.css">
<script src="/scripts/hamburger.js" defer></script>
</head>
<%- include("../shared/header") %>
<body>
    <img class="background-img" src="/images/background-baking.jpg" alt="Background image">
    <section>
        <h1>Nasze chlebki</h1>
        <div>
        <ul id="product-list">
            <% for(const product of allProducts) { %>
                <li>
                    <h2 class="product-title"><%= product.title %></h2>
                    <p class="product-image-p">
                        <img class="product-image" src="<%= product.photoUrl %>" alt="<%= product.title %>">
                    </p>
                    <p class="product-description"><%= product.description %></p>
                    <p class="product-price">Cena: <%= product.price%> zł</p>
                    <% if(locals.isAuth) { %>
                        <button class="product-cart">Dodaj do koszyka</button>
                    <% } else { %>
                        <p style="text-align:center; color: var(--color-red-600); font-weight: 700;">Zaloguj się, aby dodać do koszyka.</p>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </div>
    </section>
    
</body>
<%- include("../shared/footer") %>